.portfolio
{
    text-align: center;
    padding: 80px 0 40px;
}
.list-link ul
{
    overflow: auto;
    padding-bottom: 4%;
}
.list-link ul li
{
    float: left;
    position: relative;
    left: 37%;
    margin-right: 30px;
}
.list-link ul li a
{
    color: #333333;
}
.list-link .portfolio-imgs
{
    overflow: auto;
    padding: 0 2% 5% 5%;

}
.list-link .portfolio-imgs div
{
    position: relative;
    width: 33.33%;
    float: left;
    padding: 0 3% 3% 0;
    
}
.list-link .portfolio-imgs div img
{
    width: 100%;
}
.list-link .portfolio-imgs div div
{
    background-color: rgba(0, 0, 0, 0.486);
    position: absolute;
    top: 0%;
    left: 0%;
    width: 91%;
    height: 88%;
    opacity: 0;
    transition: opacity 1s;
    
}
.imgs:hover .opimg
{
    opacity: 1;
}
.portfolio .services 
{
    padding-right: 10%;
    padding-left: 10%;
}

.portfolio .services h3 ,
.portfolio .services p
{
    margin-bottom: 4%;
    font-weight: 700;
}
@media (min-width:0px) and (max-width:776px){
    
    .list-link ul li
    {
        left: 20%;
    }
    .list-link .portfolio-imgs div
    {
        position: relative;
        left: 10%;
        width: 80%;
        clear: both;
        padding: 0 3% 3% 0;
        
    }
    .list-link .portfolio-imgs div div
    {
        width: 97%;
        height: 96%;
        
        
    }
    .portfolio .services .single-service 
    {
        clear: both;
        width: 100%;
        margin: auto;
        padding: 2%;
    }
}
@media (max-width: 1120px) and (min-width: 777px){
    .list-link ul 
    {
        left: 25%;
    }
    .list-link .portfolio-imgs div
    {
        position: relative;
        
        width: 50%;
        
        padding: 0 3% 3% 0;
        
    }
    .list-link .portfolio-imgs div div
    {
        width: 94%;
        height: 93%;
        
        
    }
}